<div>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Curso Angular</a>
      </div>
    </div>
  </nav>

  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmitForm( loginForm.value )">

    <div class="form-group">
      <label for="username-group">Username:</label>
      <div class="input-group" id="username-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" formControlName="username" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
      </div>
      <p class="error-field" *ngIf="username.touched && username.invalid">Campo Requerido</p>
    </div>

    <div class="form-group">
      <label for="username-group">Password:</label>
      <div class="input-group" id="password-group">
        <span class="input-group-addon" id="basic-addon1">
          <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
        </span>
        <input type="password" formControlName="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1">
      </div>
      <p class="error-field" *ngIf="password.touched && password.invalid">Campo Requerido</p>
    </div>

    <button type="submit" [disabled]="loginForm.status == 'INVALID'" class="btn btn-default">Log In</button>

  </form>

  <div class="footer-login">
    <p>Sitio dedicado al curso de angular</p>
  </div>

</div>