.login-form {
    position: absolute;
    top: calc( 50% - 212px );
    left: calc( 50% - 250px );
    width: 500px;
    border: solid #e7e7e7 1px;
    background-color: #f8f8f8;
    border-radius: 3px;
    padding: 20px;
}

.error-field {
    color: red;
    font-style: italic;
}